pandas>=2.2.2
numpy>=2.1.1
scikit-learn>=1.5.2
xgboost>=2.1.1
lightgbm>=4.5.0
shap>=0.46.0
matplotlib>=3.9.2
seaborn>=0.13.2
optuna>=3.6.1
fastapi>=0.115.0
uvicorn>=0.30.6
colorama>=0.4.6
tabulate>=0.9.0